html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}

#user-interface {
  display: inline-flex;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fff;
}
/*div*/
#success-message {
  position: relative;
  top: -80%;
  text-shadow: 2px 2px 8px #FF0000;
}
#sm-heading{
  text-align: center;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 8px #FF0000;
}
#sm-subheading{
  text-align: center;
  color: white;
  text-shadow: violet;
  text-shadow: 2px 2px 8px #FF0000;
  font-size: 1.5em;
}
a{
  display: block;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px #FF0000;
  font-size: 1em;
  padding: 2px;
  text-decoration: none;
}
a:hover{
  font-size: 1.2em;
  font-weight:900;
  text-shadow: 8px 8px 16px #FF0000;
}
#config-div{
display: inline-block;
position: absolute;
top: 10px;
right: 10px;
color: white;
}
label{
  margin: 10px;
}
input{
  margin: 2px;
}
p{
  margin: 10px;
}